$pri-color: #014d4e;
$sec-color: #ff9408;
$sec-color-m: #ff9408e8;
$ter-color: #017374;
$ter-color-m: #01727498;

$xl-font: 3rem;
$lg-font: 2.5rem;
$md-font: 2rem;
$sm-font: 1.8rem;
$xs-font: 1.6rem;
