.contact {
   background-attachment: fixed;
   background-image: url(/images/full-bg-03.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   padding: 4rem 0;
   position: relative;

   &-form {
      background-color: $pri-color;
      bottom: 0;
      position: absolute;
      right: 0;
      width: 300px;

      .form-row input {
         background-color: transparent;
         border: none;
         color: white;
         outline: none;
         padding: 1rem;
         width: 100%;
      }

      .form-row input::placeholder {
         color: white;
      }

      input[type="text"],
      input[type="email"] {
         border-bottom: 1px solid yellow;
      }

      textarea {
         background-color: transparent;
         border: none;
         color: white;
         height: 200px;
         outline: none;
         padding: 1rem;
         resize: none;
         width: 100%;
      }

      textarea::placeholder {
         color: white;
      }

      input[type="submit"] {
         border-top: 1px solid yellow;
         color: white;
         cursor: pointer;
      }

      input[type="submit"]:hover {
         background-color: var(--sec-color);
         transition: all 0.4s ease;
      }
   }
}

/* 900 media to change the bg position */
@media (max-width: 900px) {
   .contact {
      background-position: 10%;
   }
}
