.services {
   @include flexLayout;
   background-color: $pri-color;
   flex-wrap: wrap;
   padding: 6rem 2rem;

   &-title {
      color: white;
      flex-basis: 40rem;
      flex-grow: 1;
      font-size: clamp(3rem, 5vw, 4.5rem);
      text-align: center;
   }

   .service {
      background-color: $sec-color;
      border-radius: 5px;
      cursor: pointer;
      flex-basis: 35rem;
      flex-grow: 1;
      margin: 0 2rem 4rem;
      max-width: 650px;
      padding: 2rem;
      position: relative;
      transition: all 0.4s ease;

      &:hover {
         box-shadow: 7px 8px $ter-color;
         transform: scale(1.02);
      }

      .services-icon {
         fill: white;
         height: clamp(4rem, 3vw, 4.5rem);
         margin-bottom: 1rem;
         width: clamp(4rem, 3vw, 4.5rem);
      }

      .services-headline {
         font-size: clamp(2rem, 2vw, 2.8rem);
         margin: 0;
         text-transform: uppercase;
      }

      .services-text {
         color: white;
         letter-spacing: 2px;
      }
   }
}

@media (max-width: 500px) {
   .services {
      padding: 4rem 0;
   }
}
